* {
    font-family: "Open Sans", sans-serif;
}
:root {
    --color: #1E202B;
    --border-btn: #009AD8;
    --text-color: #009AD8;
}
body{
    background: url('../images/clear.jpg')no-repeat scroll center center  ;
    background-size: cover !important;
}

#Home {
 

    min-height: 100vh; /* Ensure full viewport height */
}

.top-1 {
    top: 3%;
    right: 1%;
}

.card {
    background: linear-gradient(#e66465, #9198e5);
    border-radius: 15px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: azure !important;
    
}

.header {
    padding: 1rem;
    border-bottom: 1px solid #F5F5F5;
}

.icon img {
    width: 114px;
    height: 88px;
    border-radius: 50%;
    object-fit: cover;
}

.text-body {
    color: azure;
}

#loading {
    background-color: #1e202bbe;
    width: 0;
    height:0;
    position: absolute;
    z-index: 999;
    text-align: center;
    top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: 0;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@media (max-width:1382.230) {
    #Home {
        background: url('../images/clear.jpg')no-repeat scroll center center ;
        background-size: cover !important;;
    min-height: 100vh; 
    margin-top: 0;
    }
}
.item{
    transform: translate(14%, 1%);

}
